{% extends 'base.html' %}

{% block content %}


    <h1>Index Page</h1>

    <h3>Products</h3>
    <div class="row">
        {% for product in all_products %}
        <div class="col-md-4">
            <div class="card">
                <img src="media/{{product.image1}}" alt="{{ product.product_name }}">

                <div class="card-body">
                    <h5>{{ product.product_name }}</h5>
                <h6>{{ product.price }}</h6>
                <p>{{ product.description }}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
                
            </div>
        </div>

        {% endfor %}
    </div>
 

{% endblock %}